/* Base styles */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #f0f0f0;
    --other-color: #ffc633;
    --second-color: #616060;

    --h1-font: 5.5rem;
    --h2-font: 3.5rem;
    --p-font: 1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0; /* Ensure full width */
    z-index: 1000;
    background: var(--bg-color);
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 5%);
    padding: 18px 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .6s;
}

.menu {
    position: absolute;
    left: 0;
    font-size: 33px;
    font-weight: 800;
    color: var(--text-color);
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navlist {
    display: flex;
    align-items: center; /* Align items vertically */
}

.navlist button {
    margin: 0 30px;
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    transition: all .6s;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navlist button:hover {
    transform: translateY(-4px);
    color: var(--second-color);
}

.nav-right {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

.nav-right button {
    font-size: 22px;
    color: var(--text-color);
    margin: 0 20px;
    transition: all .6s;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav-right button:hover {
    transform: translateY(-4px) scale(1.1);
}

.logo {
    right: 50%;
    position: absolute;
    font-size: 35px;
    color: var(--text-color);
    font-weight: 800;
    text-decoration: none;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .logo {
        flex: 1; /* Allow logo to grow */
        text-align: center; /* Center the logo */
    }

    .navlist {
        display: none; /* Hide navlist on smaller screens */
    }

    .nav-right {
        margin-right: 10px; /* Add margin to the right */
    }
}
