* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #f0f0f0;
    --other-color: #ffc633;
    --second-color: #616060;

    --h1-font: 5.5rem;
    --h2-font: 3.5rem;
    --p-font: 1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background: var(--bg-color);
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 5%);
    padding: 18px 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .6s;
}

.menu {
    position: absolute;
    left: 0;
    font-size: 33px;
    font-weight: 800;
    color: var(--text-color);
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navlist {
    display: flex;
}

.navlist button {
    display: inline-block;
    margin: 0 30px;
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    transition: all .6s;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navlist button:hover {
    transform: translateY(-4px);
    color: var(--second-color);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav-right {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

.nav-right button {
    display: inline-block;
    font-size: 22px;
    color: var(--text-color);
    margin: 0 20px;
    transition: all .6s;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav-right button:hover {
    transform: translateY(-4px) scale(1.1);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    margin-left: 10px;
    cursor: pointer;
    display: none;
}

.logo {
    position: relative;
    font-size: 35px;
    color: var(--text-color);
    font-weight: 800;
    left: 42%;
    text-decoration: none;
}