<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body class="admin-dashboard">
    <!-- <%- include('header.ejs') %> -->
    <main>
        <div class="greeting">
            <h1>Hello, Admin!</h1>
            <p>Welcome back to your dashboard.</p>
        </div>
        <section class="dashboard-container">
            <div class="dashboard-link">
                <h2>Manage Books</h2>
                <p>Click here to manage books.</p>
                <a href="/books">Go to Books</a>
            </div>
            <div class="dashboard-link">
                <h2>Delete Books</h2>
                <p>Click here to delete books.</p>
                <a href="/books/delete">Delete Books</a>
            </div>
            <div class="dashboard-link">
                <h2>Delete Brunch</h2>
                <p>Click here to delete brunch.</p>
                <a href="/brunch/delete">Delete Brunch</a>
            </div>
            <div class="dashboard-link">
                <h2>Add Brunch</h2>
                <p>Click here to add brunch.</p>
                <a href="/branches/add">Add Brunch</a>
            </div>
        </section>
        <section class="dashboard-chart">
           <!-- //charts -->
            <h2>Client Buys</h2>
            <div id="clientBuysChart"></div>
        </section>
    </main>
</body>
</html>