<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
</head>

<body>
    <%- include ('header.ejs') %>

        <div class="main-container">
            <div class="container d-flex">
                <div class="content">
                    <h1>Hello, Admin!</h1>
                    <p class="bold-text">Welcome back to your dashboard</p>
                    <br>
                    <section class="dashboard-container">
                        <div class="booksC">
                            <div class="dashboard-link">
                                <p class="bold-text">Add Books</p>
                                <a href="/books">Click here to manage books</a>
                            </div>
                            <br>
                            <div class="dashboard-link">
                                <p class="bold-text">Delete Books</p>
                                <a href="/books/delete">Click here to delete books</a>
                            </div>
                            <br>
                            <div class="dashboard-link">
                                <p class="bold-text">Update Books</p>
                                <a href="/books/update">Click here to update branch</a>
                            </div>
                        </div>
                        <div class="branchC">
                            <div class="dashboard-link">
                                <p class="bold-text">Add Brunch</p>
                                <a href="/branches/add">Click here to add brunch</a>
                            </div>
                            <br>
                            <div class="dashboard-link">
                                <p class="bold-text">Delete Brunch</p>
                                <a href="/branches/delete">Click here to delete brunch</a>
                            </div>
                            <br>
                            <div class="dashboard-link">
                                <p class="bold-text">Update Brunch</p>
                                <a href="/branches/add">Click here to update brunch</a>
                            </div>
                            <br>
                        </div>
                        <br><br>
                        <div class="chartC">
                            <div class="dashboard-link">
                                <p class="bold-text">Books Sold Stats</p>
                                <a href="/books-sold">Click here to display Books Sold Stats</a>
                            </div>
                            <br>
                            <div class="dashboard-link">
                                <p class="bold-text">Quantity Stats</p>
                                <a href="/quantity">Click here to display quantity Stats</a>
                            </div>
                            <br>
                            <div class="dashboard-link">
                                <p class="bold-text">Income Stats</p>
                                <a href="/income">Click here to display income Stats</a>
                            </div>
                        </div>
                </div>
                <!-- <div id="map"></div> -->
            </div>
        </div>
        </div>
</body>

</html>