<!DOCTYPE html>
<html>
<head>
    <title>Payment Approved</title>
    <link rel="stylesheet" href="css/approved">
</head>
<body>
    <%- include('header.ejs') %>
    <h1>Your payment has been approved!</h1>
    <p>Thank you for your purchase. Your order will be delivered to you in 3 days.</p>
    <a href="/home">Go back to Home Page</a>
</body>
</html>