<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div class="error-container">
        <h1>Error <%= errorCode %></h1>
        <p><%= errorMessage %></p>
        <a href="/home">Go back to homepage</a>
    </div>
</body>
</html>