body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.approvedConteiner h1 {
    color: #4CAF50;
    text-align: center;
    padding: 20px 0;
    font-size: 2em;
}

.approvedConteiner p {
    text-align: center;
    font-size: 1.2em;
    max-width: 80%;
}

.approvedConteiner a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.approvedConteiner a:hover {
    background-color: #45a049;
}

.approvedConteiner {
display: contents;
}