.book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: #f6faff;
    margin-top: 4%;
}

.book-card {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 80%;
    margin: 10px auto;
    border: 1px solid #ddd;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease;
}

.book-card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.img_board img {
    max-width: 70%;
    height: auto;
}

.book-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-top: 20px;
    color: #333; 
}

.book_title {
    font-size: 37px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Georgia', serif;
    color: #444; 
}

.author, .category, .year, .category_name, .year_year {
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.category, .year {
    font-family: 'Georgia', serif; 
    font-size: 22px; 
    letter-spacing: 1px; 
    color: #333; 
}
.description-title {
    font-family: 'Georgia', serif; 
    font-size: 22px; 
    letter-spacing: 1px; 
    color: #333; 
    margin-bottom: 10px;
}
.author-title {
    font-family: 'Georgia', serif; 
    font-size: 22px; 
    letter-spacing: 1px; 
    color: #333; 
    margin-bottom: 10px;
}
.description {
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    text-align: justify;
}
.book-price {
  display: flex;
  flex-direction: row;
  font-size: 1.4em;
  color: #333; 
  margin: 15px 1px;
  margin-left: 7px;
}


.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  margin-left: 9%;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn-53 .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

.bx-cart {
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}

