body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

form {
    background-color: #fff;
    padding: 30px;
    margin: 50px 0;
    box-shadow: 0px 0px 10px #bbb;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 20px;
    color: #666;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #444;
}

