.info
{
    font-size: 16;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    margin-left: 18%;
    line-height: 2;
}

.contact-title
{
    margin-top: 23px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
}

h1+p
{
    font-size: 16;
    margin-top: 5%;
    /* font-family: 'Roboto Slab', serif;
    font-weight: 200; */
}

p
{
    font-size: 16;
    margin-left: 22%;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
}

