.container {
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.content {
    width: 60%;
    padding-right: 2rem;
}

.content h1 {
    color: #333;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.content p {
    color: #666;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.bold-text {
    font-weight: bold;
}

#map {
    width: 35%;
    height: 400px;
}