body {
    font-family: 'PT Serif', serif;
    margin: 0;
    padding: 0;
    background-color: #f6faff;
}

.banner {
    background-color: #007BFF;
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.banner h1 {
    font-size: 1.5em;
}

#bookCreator-form {
    max-width: 400px;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#bookCreator-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#bookCreator-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#bookCreator-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display:block;
    margin: 20px auto 0;
}

#bookCreator-form button:hover {
    background-color: #92a0af;
}

#submit {
    margin-top: 2%;
}

h1 {
    margin-top: 10%;
    font-size: 2em;
    margin: 10%;
    margin-bottom: 5%;
}