.container {
    position: absolute;
    top: 12%;
    left: 4%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(87, 79, 204, 0.05);
}

.content {
    width: 60%;
    padding-right: 2rem;
}

.content h1 {
    color: #333;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.content p {
    color: #666;
    line-height: 1.5;
    margin-bottom: 1rem;
}


.bold-text {
    font-weight: bold;
}
.dashboard-container {
    display: flex;
    flex-direction: row;
}

.branchC {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    margin-left: 10%;
    margin-bottom: 2rem; 
}

.chartC {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    margin-left: 10%;
    margin-bottom: 2rem; 
}

.menu-container.show {
    top: 6%;
}