body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#bookdelete-form {
    max-width: 400px;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#bookdelete-form h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

#bookdelete-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#bookdelete-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#bookdelete-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display:block;
    margin: 20px auto 0;
}

#bookdelete-form button:hover {
    background-color: #92a0af;
}