Base styles * {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --main-color: #f0f0f0;
  --other-color: #ffc633;
  --second-color: #616060;

  --h1-font: 5.5rem;
  --h2-font: 3.5rem;
  --p-font: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
}


body {
  background: #E3E6E6;
  color: var(--text-color);
}

header {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background: var(--bg-color);
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 5%);
  padding: 18px 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.6s;
}

.menu {
  position: absolute;
  left: 0;
  font-size: 33px;
  font-weight: 800;
  color: var(--text-color);
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navlist {
  display: flex;
  align-items: center; /* Align items vertically */
}

.navlist button {
  margin: 0 30px;
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--text-color);
  transition: all 0.6s;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navlist button:hover {
  transform: translateY(-4px);
  color: var(--second-color);
}

.nav-right {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.nav-right button {
  font-size: 22px;
  color: var(--text-color);
  margin: 0 20px;
  transition: all 0.6s;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav-right button:hover {
  transform: translateY(-4px) scale(1.1);
}

.logo {
  right: 45%;
  position: absolute;
  font-size: 35px;
  color: var(--text-color);
  font-weight: 800;
  text-decoration: none;
}

.floating-button {
  position: fixed; /* Fixed positioning to float above content */
  top: 22%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  background: #fff; /* Same as container to look consistent */
  color: var(--text-color);
  border: none; /* No border */
  border-radius: 100px; /* Rounded corners */
  padding: 10px 20px; /* Padding for size */
  font-size: var(--p-font);
  font-weight: 600; /* Font weight for bold appearance */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Optional: shadow for depth */
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth background color transition */
  z-index: 30;
}

.floating-button.show {
  opacity: 1; /* Become visible */
  transform: translateY(0); /* Move to original position */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease; /* Smooth transition */
  z-index: 10; /* Ensure it's behind the container */
}

.overlay.show {
  opacity: 1; /* Become visible */
}

.menu-container {
  background-color: var(--bg-color);
  position: absolute;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.5);
  width: 15%;
  height: 58%;
  z-index: 10;
  display: flex; /* Enable flexbox layout */
  flex-direction: column; /* Arrange children in a column */
  padding: 10px; /* Optional: Add some padding */
  border-radius: 0 0 20px 0;
  left: -100%; /* Start outside the viewport */
  opacity: 0; /* Initially hidden */
  transform: translateX(-100%); /* Initially move left */
  transition: left 0.5s ease-in-out, opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
}

.menu-container.hide {
  /* Move the menu container back to the left */
  left: -100%;
  opacity: 0;
  visibility: hidden;
}

.menu-cat {
  text-decoration: none; 
  color: var(--text-color); 
  font-size: 1.2em; 
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.menu-cat:hover {
  transform: translateY(-4px) scale(1);
  color: var(--second-color);
}

.menu-container.show {
  left: 0; /* Move into the viewport */
  opacity: 1; /* Make visible */
  transform: translateX(0); /* Move to original position */
}

.logincontainer {
  position: absolute;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 20px;
  left: 40%;
  top: 30%;
  opacity: 0; /* Initially hidden */
  transform: translateY(-20px); /* Initially moved upwards */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
  z-index: 20; /* Ensure it's above the overlay */
}

.logincontainer.show {
  opacity: 1; /* Become visible */
  transform: translateY(0); /* Move to original position */
}

.logincontainer .forms {
  display: flex;
  align-items: center;
  height: 440px;
  width: 200%;
  transition: height 0.2s ease;
}

.logincontainer .form {
  width: 50%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}

.logincontainer.active .login {
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.logincontainer .signup {
  opacity: 0;
  transition: opacity 0.09s ease;
}

.logincontainer.active .signup {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.logincontainer.active .forms {
  height: 600px;
}

.logincontainer .form .title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
}

.form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #4070f4;
  border-radius: 25px;
}

.form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.input-field input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
  border-bottom-color: #4070f4;
}

.input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i {
  color: #4070f4;
}

.input-field i.icon {
  left: 0;
}

.input-field i.showHidePw {
  right: 0;
  cursor: pointer;
  padding: 10px;
}

.form .checkbox-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-text .checkbox-content {
  display: flex;
  align-items: center;
}

.checkbox-content input {
  margin-right: 10px;
  accent-color: #4070f4;
}

.form .text {
  color: #333;
  font-size: 14px;
}

.form a.text {
  color: #4070f4;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form .button {
  margin-top: 35px;
}

.form .button input {
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #4070f4;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input:hover {
  background-color: #265df2;
}

.form .login-signup {
  margin-top: 30px;
  text-align: center;
}

.hide {
  display: none;
}

.banner-container {
  position: relative;
}

.banner-container {
  position: relative;
}

.banner-container .wrapper {
  position: absolute;
  width: 74vw;
  height: 57vh;
  box-shadow: 0px 1px 10px;
  left: 12%;
}

.banner-container .wrapper-holder {
  position: relative; /* Change from grid to relative positioning */
  height: 100%;
  width: 100%;
}

.banner-container .slider-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0; /* Hide by default */
  transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

.banner-container .slider-img.active {
  opacity: 1; /* Show the active image */
}

#slider-img-1 {
  background-image: url(../img/bookbanner.png);
}

#slider-img-2 {
  background-image: url(../img/banner2.png);
}

#slider-img-3 {
  background-image: url(../img/banner3.png);
}

#slider-img-4 {
  background-image: url(../img/banner4.png);
  background-repeat: no-repeat;
  background-size: auto; /* Set the background size to auto */
  background-position: center; /* Center the background image */
  width: 100%; /* Ensure the image takes full width of its container */
  height: 100%; /* Ensure the image takes full height of its container */
}

.fantasy {
  position: absolute;
  left: 12%;
  top: 70%;
  box-shadow: 0px 1px 10px;
  width: 74%;
  height: 15%;
}

#fantasy-banner {
  background-image: url(../img/fantasybanner.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex; /* Enable flexbox to center text */
  align-items: center; /* Vertically center text */
  justify-content: center; /* Horizontally center text */
  color: white; /* Text color */
  font-size: 2em; /* Text size */
  font-family: Arial, sans-serif; /* Font family */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability */
}

.fantasy-books {
  box-shadow: 0px 1px 10px;;
}

.fantasy-text {
  font-size: 132%;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .logo {
    flex: 1; /* Allow logo to grow */
    text-align: center; /* Center the logo */
  }

  .navlist {
    display: none; /* Hide navlist on smaller screens */
  }

  .nav-right {
    margin-right: 10px; /* Add margin to the right */
  }

  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
